h2
{
    background-color: aqua;
}
button
{
    box-sizing: border-box;
    
    border: 1rem;
    border-radius: 20px;
    width: 200px;
    height: 50px;
    color: black;
    background-color: floralwhite;
}
#incr:hover{

background-color: aqua;
}
#save:hover{
background-color: #000;
color: aliceblue;
}
